body{
    background-color: white;
    margin: 0;
    min-height: 100vh;
    color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.container{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px;
    border-radius: 3px;
    border: 1px solid blue;
}
.form{
    display: grid;
    grid-template-columns: auto auto;
    row-gap: 10px;
    column-gap: 2px;
    justify-content: center;
    font-style: italic;
}
.title{
    
   margin-top: -10px;
    font-weight: bold;
    color: blue;
    padding-top: 30px;
}

button{
    padding: 2px 100px 2px 100px;
    margin-top: 20px;
    background-color: white;
    color: blue;
    font-weight: bold;
    border: 1px solid blue;
    border-radius: 3px;
}
.container_1{
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 10px;
    justify-content: center;
    text-align: center;
    margin: 10px 0 ;
    
}
.container_1 >input{
    border: 1px solid blue;
    background-color: white;
    color: blue;
    text-align: center;
    padding: 2px 50px;
    border-radius: 3px;
    outline: none;
}
::placeholder{
    text-align: center;
    font-weight: bold;
    color: blue;
    font-style: italic;
}
.container_2{
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 10px;
}



input{
  accent-color:  #0000FF;
}